@tailwind base;
@tailwind components;
@tailwind utilities;

.side-nav-link-sp {
    @apply flex px-3 py-6 rounded items-center gap-4 active:bg-gray-200 hover:text-blue-600 hover:bg-gray-300;
  }
  body {
    @apply bg-zinc-900 h-screen font-roboto tracking-widest ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .swiper-button-next{
    @apply text-gray-400
  }
  .swiper-button-prev{
    @apply text-gray-400
  }

  